<h1 style="text-align:center;">Gokula Hari Krishnan N S</h1>
<h2 style="text-align:center;">Bachelor of Science in Computer Science </h2>
<img style="height:200px;width:200px" src="./../assets/naruto.jpg" alt="naruto" >
<h3><u>SUMMARY</u></h3>
<p><span style="color:yellow;font-weight:bold">Web Developer</span> specializing in front end development and Oracle BRM with nearly 1 year experience.</p>
<h3><u>PERSONAL PROFILE</u></h3>
<b>Date of Birth :</b> 27:11:1999<br>
<b>Gender :</b> Male<br>
<b>Age :</b> 23<br>
<b>Marital Status :</b> Unmarried<br>
<b>Nationality :</b> Indian<br>
<h3><u>EDUCATIONAL BACKGROUNG</u></h3>
<table style="width:90%">
  <tr>
    <th>Qualification</th>
    <th>Institution</th>
    <th>Year</th>
    <th>Percentage</th>
  </tr>
  <tr>
    <td>COLLEGE</td>
    <td>ST.JOSEPH’S COLLEGE ARTS&SCIENCE </td>
    <td>2020</td>
    <td>80%</td>
  </tr>
  <tr>
    <td>SSLC</td>
    <td>P.C.K.G GOVT HR SEC SCHOOL </td>
    <td>2017</td>
    <td>60%</td>
  </tr>
  <tr>
    <td>HSC</td>
    <td>KARNATAKA SANGHA HR SEC SCHOOL</td>
    <td>2015</td>
    <td>75%</td>
  </tr>
</table>
<h3><u>ADDITIONAL SKILL</u></h3>
<ul>
  <li title="Billing Revenue Management">BRM</li>
  <li title="Hyper Text Markup Language">HTML</li>
  <li title="Cascading Style Sheets">CSS</li>
  <li>JQUERY</li>
  <li>JAVA SCRIPT</li>
  <li title="Structured Query Language">SQL</li>
  <li>C,C++</li>
</ul>
<h3><u>ADDITIONAL SKILL</u></h3>
<ul>
  <li>ENGLISH</li>
  <li>TAMIL</li>
  <li>TELEGU</li>
</ul>
<h3>Click Here for Contact Info</h3>
<button type="button" onclick="alert('Mobile Number: 9090909090')">Mobile Number</button><br>
<button type="button" onclick="alert('Address: gggg,hhhhh,ssss')">Address</button>
<button type="button" onclick="alert('Email: gokul@gmail.com')">Email</button> 
<h3></h3> 